<div class="link-wrapper">
  <style scoped>
    ul.link a {
      color:var(--clr-h1-and-bold);
      text-decoration:none;
    }

    ul.link a:hover, a:focus {
      color: var(--clr-a-text-hvr);
    }
  </style>
  <ul class="link">
    {%- for platform in site.sidebar %}
      <li class="{{ platform.name }}-link"><a href="{{ platform.link.href }}" {% if platform.link.new-tab %}target="_blank"{% endif %}><i class="{{ platform.icon }}"></i> {{ platform.name }}</a></li>
    {%- endfor %}
  </ul>
</div>